apiVersion: v1
kind: Service
metadata:
  name: todo-frontend
spec:
  type: LoadBalancer  # This gives us a real IP address on your network
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: todo-frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
      - name: todo-frontend
        image: mkislam/todo-frontend:v1
        ports:
        - containerPort: 80