apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: mysql-pv-claim
spec:
  accessModes:
    - ReadWriteOnce # volume can be mounted as read-write by only one node at a time
  resources:
    requests:
      storage: 1Gi